<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MFSJSONEntity Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MFSJSONEntity.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>lipoFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A91663AF1B6E0206004E142A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A91663BD1B6E0216004E142A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A91663C91B6E0250004E142A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A91663D31B6E0250004E142A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A91663F41B6E03CA004E142A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A91663F91B6E0424004E142A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A91664011B6E0512004E142A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
